################################################################################
# SERVICES
################################################################################
services:

  datanode:
    build: ./datanode
    image: datanode
    restart: always
    command: bash -c 'while [[ "$$(curl -k --connect-timeout 2 -s -o /dev/null -w ''%{http_code}'' ${DN_POD})" != "200" ]]; do echo ${DN_POD} responded with "$$(curl -k --connect-timeout 2 -s -o /dev/null -w ''%{http_code}'' ${DN_POD})"; sleep 5; done; echo backend is up;node index.js'
    depends_on:
      - podserver
    environment:
      - HOST=${DN_POD}
      - NAME=${DN_NAME}
      - EMAIL=${DN_EMAIL}
      - PASSWORD=${DN_PASSWORD}
      - IDP=https://podserver:3001
      - NODE_EXTRA_CA_CERTS=/shared-certs/rootCA.pem
      - TARGET=https://podserver:3001/servicenode/inbox/
    volumes:
      - ${CA_CERT_DIR}:/shared-certs
    networks:
      - app_net

  servicenode:
    build: ./servicenode
    image: servicenode
    restart: always
    command: bash -c 'while [[ "$$(curl -k --connect-timeout 2 -s -o /dev/null -w ''%{http_code}'' ${SN_POD})" != "200" ]]; do echo ..; sleep 5; done; echo backend is up;node index.js'
    depends_on:
      - podserver
    environment:
      - HOST=${SN_POD}
      - NAME=${SN_NAME}
      - EMAIL=${SN_EMAIL}
      - PASSWORD=${SN_PASSWORD}
      - IDP=https://podserver:3001
      - NODE_EXTRA_CA_CERTS=/shared-certs/rootCA.pem
      - SENDER=https://podserver:3001/datanode/profile/card#me
    volumes:
      - ${CA_CERT_DIR}:/shared-certs
    networks:
      - app_net

  # ------------------------------------------------------------
  # Community Solid Server
  # ------------------------------------------------------------
  podserver:
    image: solidproject/community-server:latest
    build: https://github.com/CommunitySolidServer/CommunitySolidServer.git#main

    ports:
      - "3001:3001"

    environment:
      #- CSS_LOGGING_LEVEL=debug
      - CSS_PORT=3001
      - CSS_CONFIG=/css-custom-config.jsonld
      - CSS_SEEDED_POD_CONFIG_JSON=/accounts.json
      #- CSS_CONFIG=@css:config/https-file-cli.json
      - CSS_BASE_URL=https://podserver:3001/
      - CSS_HTTPS_KEY=/certs/podserver-key.pem
      - CSS_HTTPS_CERT=/certs/podserver.pem
      - NODE_EXTRA_CA_CERTS=/shared-certs/rootCA.pem
      - NODE_TLS_REJECT_UNAUTHORIZED='0'

    volumes:
      # ---- Format: ----
      - ./podserver/.solid:/data
      - ./podserver/certs:/certs
      - ${CA_CERT_DIR}:/shared-certs
      - ./podserver/css-custom-config.jsonld:/css-custom-config.jsonld
      - ./podserver/accounts.json:/accounts.json

    networks:
      - app_net

################################################################################
# NETWORK
################################################################################
networks:
  app_net:
    driver: bridge