{% macro participant(p) %}
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ p.uri }}</h5>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary btn-rounded">Announce</button>
            <button type="button" class="btn btn-primary btn-rounded">Offer</button>
        </div>
    </a>
{% endmacro %}
<div class="list-group">
    {% for p in participants %}
        {{ participant(p) }}
    {% endfor %}
</div>